# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Precompiled PRIR-V shaders
*.spv

# Build dirs and external sources
cmake-build-*/
external_sources/assimp
external_sources/freeimage
external_sources/glfw
external_sources/glm
assets/
tutorials/assets/
build*/
out/
.clangd/
compile_commands.json

.vs/
.vscode/
*.zip

CMakeSettings.json

.idea/
